@import url('https://cdn.jsdelivr.net/gh/mustafazeydani/Fonts/CursedTimerULiL/CursedTimerULiL.css');
body {
    margin: 0;
    text-align: center;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}
.title{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
        
}
.score-button, .clear-button{
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
    color: #9AABD8;
     justify-content: space-around;
}
.score{
    background: black;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
    background: #080001;
    border-radius: 5px;
    margin:20px 0px 20px 
}

.clear-button{
    color:#F94F6D;
    border: 2px solid chocolate; 
}